table
{
    width: 100%; /* Sets the table's width to 100% */
}

th,td
{
    border: 1px solid #ddd; /* Border styling for table */
    padding: 10px;
}

body
{
    font-family: Arial, Helvetica, sans-serif; /* personal choice */
}

.centerText /* this will center the text of the table and it's heading */
{
    text-align: center;
}

th:hover,td:hover
{
    background-color: #f9f9f9;
}